<!doctype html>
<html lang="en">
<head>
    <title> {% block title %} {% endblock %} </title>
    {% block head%}
        {% include "_head.jinja" %}
    {% endblock %}


</head>

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul class="list-group text-center" style= "list-style: none;">
        {% for category, message in messages %}
            <li class="{{ category }}"> {{ message }} </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<body class= "text-primary">

<style>
body {
  background-color: #141616;
}
</style>

<header class= "text-center text-primary">

    <h1> <a class="text-decoration-none" href="{{ url_for("view_welcome_page") }}"> Flask Blog </a></h1>

</header>


{% include "_nav.jinja" %}

<main>
    {% block main %} {% endblock %}
</main>

{% include "_footer.jinja" %}
</body>
</html>

