{% extends "_main.jinja" %}

{% block title %} Admin page {% endblock %}


{% block main %}
<div class= "text-center">
    <a href="{{ url_for("view_change_password") }}">change password</a>
    <p> Welcome Back </p>
</div>    
{% endblock %}
