{% extends "_main.jinja" %}

{% block title %} Flask Blog {% endblock %}


{% block main %}
<p><a href='https://github.com/blzzua/devops-project'>github</a></p>
<div align="left">
    <h2>DevOps maraton</h2>
    <p> </p><p><a href="https://docs.google.com/document/d/1qZy7NsOT_Jt6cOC9X_N-PpUwETn5wqUgBlTrhgHzAx4/edit">https://docs.google.com/document/d/1qZy7NsOT_Jt6cOC9X_N-PpUwETn5wqUgBlTrhgHzAx4/edit</a></p>
<p>Проект розбитий на завдання:</p>
<ol>
<li>Application and Github Actions test.</li>
<li>Find any Linux-based web app and deploy it on localhost (any language)</li>
<li>Create GitHub Public Repo. Push Code to the repo.</li>
<li><p>Create GitHub Actions Pipeline that builds the app and runs tests.</p>
</li>
<li><p>AWS and deploy.</p>
</li>
<li>Зареєструвати AWS акаунт, подивитися що таке Фрі Тір і як він використовується.</li>
<li>Розгорнути Апку на AWS. Самим простим способом, наприклад на ec2 сервері.</li>
<li>В гітхаб екшинс має бути деплой степ на амазон</li>
</ol>
<p>Як результат маєш скинути Паблік Амазон ІП на якій буде твій сайт, і відповідно коли будеш комітати код то GitHub actions автоматично задеплоїть зміни на Амазон.</p>
<ol>
<li>ECS</li>
<li>Розгортання апки з використанням ECS або EKS(EKS платний)</li>
<li>Підключити базу данних(RDS) і зв'язок з нею </li>
<li><p>Адаптувати пайплайну під це завдання</p>
</li>
<li><p>Teraform<br>Все що зробив в амазоні повинно створюватись тераформом, а не вручну</p>
</li>
<li>Деплой тераформи на Амазон з локалу</li>
<li><p>Тераформ в гітхаб екшинс<br>Він має створити тобі: всі необіхдні мережі, секюріті групи, інстанси, базу, все що використовує твоя апка</p>
</li>
<li><p>Logging</p>
</li>
<li>Прикріпити логування на апку(CloudWatch)</li>
<li>Навісити алярм на що небудь, щоб приходили повідомлення на пошту</li>
<li><p>Додати будь-яку кастомну метрику<br>Ну і це все використовуючи тераформ.</p>
</li>
<li><p>Оформити свій GitHub профіль. Написати Readme докумен де буде описано, що саме за проект ви зробили, які технології використали, намалювати архітектуру проекту.</p>
</li>
<li><p>Python and/or Bash скриптинг. Не частина проекту але також варто опанувати основи.</p>
</li>
</ol>
 <p></p>

</div>
{% endblock %}
